<%-include("../partials/header")-%>
<body class="flex">
    <%-include("../partials/sidebar")-%>
    <div class="py-5 flex-auto">
        <div class="flex justify-between">
            <h1 class="text-2xl font-roboto ml-3 font-bold">Start Excercise</h1>
            <div class="px-8 cursor-pointer"><%=username %></div>
        </div>
            <div class="text-slate-950 text-2xl font-semibold w-5/6 h-3/4 m-auto mt-10">
                Instruction for <%= excercise.name%>
            </div>
            <div class="w-5/6 lg:m-auto md:ml-0 mt-5 h-30 flex justify-center">
                <div class="w-1/2 h-full">
                    <iframe height="300" width="600" src=<%= excercise.link %>></iframe>
                </div>
            </div>
            <div class="w-5/6 m-auto mt-5 h-3/4">
                <%= excercise.instructions%>
            </div>
            <div class="w-full flex flex-col gap-3 items-center mt-5 h-3/4">
                <div class="text-center text-2xl font-extrabold py-2 bg-blue-700 w-1/5 text-white" id="time">00:00</div>
                <button id="startBtn" class="py-3 bg-green-600 w-1/5 text-2xl font-extrabold text-white">Start</button>
                <button id="stopBtn" class="hide py-3 bg-red-600 w-1/5 text-2xl font-extrabold text-white">Stop</button>
                <p id="finalMsg" class="hide text-xl">Total calorie burnt: <span id="calorieText"></span>. Progress Saved!</p>
                <p id="goBack" class="hide mb-5"><a class="text-blue-500" href="/excercise/start">go back</a></p>
            </div>
        </div>
    </div>
</body>

<style>
    .hide {
        visibility: hidden;
    }
</style>

<script>

    const startBtn = document.getElementById("startBtn")
    const stopBtn = document.getElementById("stopBtn")
    const finalMsg = document.getElementById("finalMsg")
    const goBack = document.getElementById("goBack")
    const calorieText = document.getElementById("calorieText")

    var initialTime;
    var min;
    var sec;
    var interval;

    function calculateCaloriesBurnt() {
        const weight = parseInt("<%= profile.weight %>")
        const met = parseFloat("<%= excercise.met %>")
        const minute = min + (sec/60)
        const answer = 3.5 * met * (weight/200) * minute
        return answer.toFixed(2)
    }

    function getTotalMinute() {
        const val = min + (sec/60)
        return val.toFixed(4)
    }

    function getTodayDate() {
        let currentDate = new Date()
        const offset = currentDate.getTimezoneOffset()
        currentDate = new Date(currentDate.getTime() - (offset*60*1000))
        return currentDate.toISOString().split('T')[0]
    }

    startBtn.addEventListener("click", (e) => {
        e.preventDefault();
        initialTime = Date.now();
        interval = window.setInterval(checkTime, 100);
        startBtn.remove()
        stopBtn.classList.remove("hide")

    })

    stopBtn.addEventListener("click", async (e) => {

        e.preventDefault();
        clearInterval(interval)
        calorieText.innerText = calculateCaloriesBurnt()
        stopBtn.remove()
        finalMsg.classList.remove("hide")
        goBack.classList.remove("hide")

        try{
            const date = getTodayDate()
            const calorieBurnt = calculateCaloriesBurnt()
            const time = getTotalMinute()
            
            const res = await fetch('/excercisehistory', {
                method: "POST",
                body: JSON.stringify({
                    date, caloriesBurnt, time, exid: '<%= excercise.id  %>'
                }),
                headers: { 'Content-Type': 'application/json' }
            })

            const data = await res.json();

            if(res.ok) {
                console.log("ok")
            }else{
                console.log("error")
                //emailError.textContent = data.email
            }

        }catch(e) {

        }
    })

    function checkTime(){
        var timeDifference = Date.now() - initialTime;
        var formatted = convertTime(timeDifference);
        document.getElementById('time').innerHTML = '' + formatted;
    }

    function convertTime(miliseconds) {
        var totalSeconds = Math.floor(miliseconds/1000);
        min = Math.floor(totalSeconds/60);
        sec = totalSeconds - min * 60;
        return (min < 10 ? "0" + min : min) + ":" + (sec < 10 ? "0" + sec : sec);
    }
</script>