<%-include("../partials/header")-%>
<body class="flex">
    <%-include("../partials/sidebar")-%>
    <div class="py-5 flex-auto">
        <div class="flex justify-between">
            <h1 class="text-2xl font-roboto ml-3 font-bold">Start Excercise</h1>
            <div class="px-8 cursor-pointer"><%=username %></div>
        </div>
            <div class="text-slate-950 text-2xl font-semibold w-5/6 h-3/4 m-auto mt-10">
                Choose An Excercise
            </div>
            <% for (var i = 0; i < excercises.length;  i++ ) { %>
                <div class="w-5/6 m-auto h-3/4">
                    <div class="bg-red-500 w-1/2 mt-5 flex items-center justify-center font-bold text-white text-2xl hover:bg-red-600">
                        <a class="w-full h-full py-5 text-center" href="\excercise\<%=excercises[0].id %>"><%= excercises[0].name%></a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

<script>
    
</script>